# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Prototype.iml
# Datasource local storage ignored files
/../../../../../../:\PolySynthesis---3rd-Year-Group-Project\Prototype\.idea\.idea.Prototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
